@font-face {
    font-family: "cairo-bold";
    src:url('../fonts/Cairo-Bold.ttf');
}
@font-face {
    font-family: "cairo-regular";
    src:url('../fonts/Cairo-Regular.ttf');
}
body{
    font-family:"cairo-regular";

}

option[value=""][disabled] {
    background-color: red;
}
a:hover{
    text-decoration: none;
}
.alert{
    position: relative;
    margin: 0px auto;
    width:50%;
    text-align: center;
}
.alert-col{
    width:80%;
}
@media only screen and (max-width: 767px) {
    .alert{
        width: 80%;
    }
}
@media only screen and (max-width: 767px) {
    .alert{
        width: 80%;
    }

}
#navigation,.navbar .navbar-default{
    background-color: #fee318;
    /* background-image: url('../imgs/nav_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center; */
}
.intro-row{
    padding:100px 0px;
}
.intro-txt-hello{
    font-size: 40px;
    font-weight: bold;
}
.intro-txt{
    padding:40px 60px 30px 0px ;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.intro-btn{
    background-color: #fee318;
    padding: 4px 30px;
    font-weight: bold;
    color:black;
}
.intro-btn:hover{
    background-color: #f3d917;
}
.intro-img{
    width: 350px;
    height: 350px;
    display: block;
    margin-right: auto;
    margin-left: 40px;
}
.intro-txt-details{
    line-height: 2;
}
@media only screen and (max-width: 990px) {
    .intro-row{
        padding:50px 0px;
    }
    .intro-txt-hello{
        font-size: 40px;
        font-weight: bold;
    }
    .intro-txt{
        padding:0px 60px 30px 0px ;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .intro-btn{
        background-color: #fee318;
        padding: 4px 30px;
        font-weight: bold;
        color:black;
    }
    .intro-row{
        padding:50px 0px;
    }
    .intro-txt{
        padding:20px ;
    }
    .intro-img{
        display: none;
    }
}
@media only screen and (max-width: 580px) {
    .intro-row{
        padding:30px 0px;
    }
    .intro-txt-hello{
        font-size: 30px;
        font-weight: bold;
    }
    .intro-txt{
        padding:40px 60px 30px 0px ;
        display: block;
        font-size: 12px;
        margin-right: auto;
        margin-left: auto;
    }
    .intro-btn{
        background-color: #fee318;
        padding: 4px 30px;
        font-weight: bold;
        color:black;
    }
    .intro-row{
        padding:50px 0px;
    }
    .intro-txt{
        padding:20px ;
    }
    .intro-img{
        display: none;
    }
    .carousel-indicators{
        display: none;
    }
}





.adv-img{
    width:100px;
    height: 100px;
    margin: 0 auto;

}
.adv-info{
    text-align: center;
}
.coll{
    display: grid;
}
.adv-div{
    padding: 120px 0px;
}




.info{
    background-color: #e6e6e6;

    margin: 0px 0px;
    padding: 50px 15%;
    text-align: center;
}
.icon-img{
    width: 20px;
    height: 20px;
}
.info-title{
    font-weight: bold;
}




.footer{
    background-color: black;
    padding: 20px 0px;
    color:#6a6a6a;
    font-size: 13px;
}
.footer-icon{
    width:26px;
    margin: 0px 5px;
}
.footer-col{
    display: inline;
    max-width: 100%;
    text-align: center;
}
.icon-img-href{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    color:black;
}
.icon-img-href:hover{
    color:black;
}
@media only screen and (max-width: 700px) {
    .dis{
        display: none;
    }
    .footer{
        font-size: 12px;
        font-weight: normal;
    }
    .footer-icon{
        width:25px;
        margin: 0px 5px;
    }
    
}




                                                                        /* SignUp - signIn */


.signUp-div{
    width: 100%;
    padding: 30px;
    margin: 100px auto;
    border: 2px #e6e6e6 solid;
    border-top: 5px #fee318 solid;
    border-radius: 10px;
}
.red-star{
    color: red;
    font-size: 20px;
}
.signup-submit{
    display: block;
    margin-right: auto;
    position: absolute;
    left:0;
    bottom: 0px;
    font-size: 15px;
    font-weight: normal;
    padding: 9px 20px;
}
.signin-submit{
    display: block;
    margin-right: auto;
    position: unset;
    font-size: 15px;
    font-weight: normal;
    padding: 9px 20px;
}
.signup-submit{
    display: block;
    margin-right: auto;
    position: unset;
    font-size: 15px;
    font-weight: normal;
    padding: 9px 20px;
}
.signUp-in-signIn{
    display: block;
    margin-right: auto;
    position: unset;
}
@media only screen and (max-width: 767px) {
    .signUp-div{
        width: 95%;
    }
    .signup-submit{
        position: relative;
        margin-top: 30px;
        display: block;
        width: 100%;
    }
    .signin-submit{
        position: unset;
        margin-top: 30px;
        display: block;
        width: 100%;
    }
    .signup-submit{
        position: unset;
        margin-top: 0px;
        display: block;
        width: 100%;
    }
    .profile-div{
        width: 95%;
    }
    .l-form-signUp{
        margin-top:100px;
        /* margin-bottom: -50pc */
    }
}
.nav-btn-si{
    font-weight: normal;
    background-color: #ffffff;
    padding: 5px 10px;
    color:#22a7c8;
}
.signin-nav{
    cursor: pointer;
}




                                                                                /* Profile */




.profile-div{
    width: 90%;
    padding: -10px 30px;
    margin: 100px auto;
    /* border: 2px #e6e6e6 solid;
    border-top: 5px #22a7c8 solid; */
    border-radius: 10px;
}
.profile-head{
    padding:0px 40px;
}
.profile-Username{
    font-size: 25px;
}
.profile-btn{
    font-weight: normal;
    padding: 5px 15px;
}
.profile-editProfile{
    background-color: #e6e6e6;
}
.profile-editProfile:hover{
    background-color: #d4d4d4;
}
.profile-div-btns{
    position: absolute;
    left: 0px;
}
.del-opinion{
    margin-left: 60px;
    margin-right: 33px;
    width: -webkit-fill-available;
}
.post-div{
    width: 70%;
    /* padding: 20px 40px; */
    margin: 100px auto;
    border: 2px #e6e6e6 solid;
    /* border-top: 5px #22a7c8 solid; */
    border-radius: 10px;
}
.post-hdr{
    border-bottom: 2px #e6e6e6 solid;
}
.post-body{
    font-size: 14px;
}
.allpics{
    width: 100%;
    background-color:#e6e6e6;
}
.allpics:hover{
    background-color:#d4d4d4;
}
.SubmitOnPost{
    width: 100%;

}
.modal-pic{
    max-width: 60%;
}
.pagination {
    width: fit-content;
    margin: auto;
}
.page-item.active .page-link {
    color: black;
    background-color: #fee318;    
    border-color: #fee318;
}
.page-item.active .page-link:hover {
    color: black;
    background-color: #f3d917;    
    border-color: #f3d917;
}
.page-link {
    color: black;
}
.hover-img-zoom{
    margin-bottom: 10px;
}
.post-imgs{
    margin-top: 10px;
    margin-bottom: 10px;
}
.post-del-img-chkBox{
    font-size: 12px;
}
@media only screen and (min-width: 767px) {
    .hover-img-zoom:hover{
        margin-bottom: 10px;
        transition: 0.5s;
        /* transform: scale(1.5); */
    }
}
.post-alert{
    margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
    .profile-div{
        width: 95%;
    }
    .profile-head{
        padding:0px 10px;
    }
    .profile-Username{
        font-size: 18px;
    }
    .porfile-hdr-btn{
        font-size: 12px;
        padding: 3px 10px;
    }
    .profile-edit-btn{
        font-size: 13px;
    }
    .post-div{
        width: 90%;
    }
    .modal-pic{
        max-width: 90%;
    }
}
.delPost-ques-div{
    padding: 30px 0px;
}
.delPostQuestions{
    padding: 10px 10px 0px 10px ;
}


                                                                                        /* editProfile */




.edit-prof-btns{
    display: inline;
    position: absolute;
    left: 0px;
}
.editProfile-btn{
    font-weight: normal;
    padding: 5px 15px;
}
.editProfile-chgPass-btn{
    background-color: #b9b9b9;
}
.editProfile-chgPass-btn:hover{
    background-color: #9e9e9e;

}
@media only screen and (max-width: 767px) {
    .edit-prof-btns {
        padding: 20px 0px 0px 0px;
        position: relative;
        margin-left: auto;
        left: 0px;
        margin-right: auto;
        display: flex;
    }
    .editProfile-btn{
        position: relative;
        margin: 0px auto;
        width: 40%;
        position: rel;
    }
}


            

                                                                    /* newPost */


.newPosr-div{
    width: 100%;
    padding: 30px;
    margin: 100px auto;
    border-radius: 10px;
}
.post-toggle-hdr{
    padding: 0px;
}
.post-toggle{
    flex-direction: unset;
}
.post-div-part{
    border-top: 0xp;
    border: 2px #e6e6e6 solid;
    padding:40px;
}
@media only screen and (max-width: 767px) {
    .newPosr-div{
        width: 95%;
    }
    .post-toggle{
        flex-direction: column;
    }
}




                                                        /* searching */




.searching-bar-div{
    width: 70%;
    padding: 30px;
    margin: 100px auto;
    border: 2px #e6e6e6 solid;
    border-radius: 10px;
}
.searching-btn{
    padding-left: 40px;
    padding-right: 40px;
    position: absolute;
    left: 0px;
}
@media only screen and (max-width: 1000px) {
    .searching-bar-div{
        width: 95%;
    }
}
@media only screen and (max-width: 767px) {
    .searching-bar-div{
        width: 95%;
    }
    .searching-btn{
        width: 100%;
    }
}
.noPost{
    text-align: center;
    padding-top: 20px;
}


.info-row{
    margin:60px auto;
}
.post-options{
    margin-top: 34px;
    box-shadow: -2px 2px 14px #aaaaaa;

}
.otherInfo{
    color:grey;
    font-size:12px;
}
.PostCode{
    padding: 10px auto;
    font-size:50px;
    font-weight: bolder;
}
@media only screen and (max-width: 767px) {
    .col-contact{
        padding-top:10px;
        padding-bottom:10px;

    }
}




                                                        /* aboutUs */


.aboutus-col{
    padding: 50px 50px;
    font-size: 20px;
}

.aboutus-col-hdr{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    padding-bottom: 30px;
}
.aboutus-img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width:350px;
    height:350px;
}
.aboutus-col-1{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
.aboutus-col-hdr-row{
    padding-top: 100px;
}
select.form-control {
    padding-top: 0px;
}